.border-l-\[0px\]{
    border-bottom-width: 1px;
  }
  .bg-white{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  .py-\[70px\]{
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: left;
  }
  .bg-dark{
    --tw-bg-opacity: 1;
    background-color: rgb(17 25 40 / var(--tw-bg-opacity));
  }
  .mx-auto{
    margin-left: auto;
    margin-right: auto;
  }
  .px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mb-2{
    margin-bottom: 0.5rem;
  }
  .text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
  }